@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,html{
    overflow-x: hidden;
    
}

:root{
  --whitish  : #ffffff;
  --dblue    : #120658;
  --blackish : #000000;
  --grey     : #aaaaaa;
}

@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins/Poppins-Regular.ttf)
  
}

@font-face {
  font-family: Pricedown;
  src: url(/fonts/pricedown/pricedownbl.ttf)
}

@font-face {
  font-family: Exo;
  src: url(/fonts/Exo/Exo-Italic-VariableFont_wght.ttf)
}


/* //animation NewsSection Hero */
.animationSection {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll {
  display: flex;
  width: calc(2 * 10 * 14em); /* 2 sets of 10 images, each 14em wide */
  animation: scroll 20s linear infinite;
}

.scroll div {
  flex: 0 0 14em; /* Ensure all images are the same width */
  height: 14em;
  background-color: #120658; /* Example color */
  margin-right: 10px; /* Optional: add space between images */
}

/* scrollbar in news section */
/* width */
#newsSectionSideBar::-webkit-scrollbar {
  width: 10px;
  border-radius: 99999px;
}

/* Track */
#newsSectionSideBar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 999px;
}

/* Handle */
#newsSectionSideBar::-webkit-scrollbar-thumb {
  background: var(--dblue);
  border-radius: 999px;
}

/* Handle on hover */
#newsSectionSideBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* //Animations */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


